/* footer-mobile.css */

/* 匯入字型 */
@import url('./fonts.css');

/* 定義頁尾 */
footer {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 90px;
    text-align: center;
    font-size: 16pt;
    font-family: 'Unifont', 'MS Gothic', '新細明體', 'Noto Sans Mono', monospace;
    color: #783535;
    background-color: rgba(120, 53, 53, 0.5);
    padding: 10px;
}

footer a:hover {
    color: #FFF;
}