/* link.css */

/* 連結專屬樣式 */
/* 表格 */
.table {
    width: 100%;
    border-collapse: collapse;
    background: transparent;
}

.table th,
.table td {
    padding: 8px 12px;
    border: none;
    text-align: center;
}

/* 表頭 */
.table th {
    background: transparent;
    text-align: left;
}

.table-wrap {
    display: flex;
    justify-content: center;
    margin-bottom: 48px;
}

.table-link{
    width: 550px;
    table-layout: fixed;
    border-collapse: collapse;
}

/* 圖片翻轉 */
.flip-horizontal {
    transform: scaleX(1);
    transition: transform 0.5s ease;
}

.flip-horizontal:hover {
    transform: scaleX(-1);
}

/* 文字與圖片對齊 */
.text-with-icons{
    align-items: center;
    gap: 12px;
}

.icon {
    vertical-align: middle;
    margin-bottom: 10px;
}

.text {
    vertical-align: middle;
}