/* menu.css */

/* 匯入字型 */
@import url('./fonts.css');

/* 定義目錄 */
.menu {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.menu-item {
  align-items: center;
  justify-content: center;
  position: relative;
}

.main-menu {
  width: 200px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  border-radius: 10px;
  text-decoration: none;
  color: #000;
  cursor: url('../images/Moi-Cursor-3.png'), auto;
  font-size: 12pt;
  font-family: 'Unifont', 'MS Gothic', '新細明體', 'Noto Sans Mono', monospace;
  letter-spacing: 1px;
}

a.main-menu.link-only {
  cursor: url('../images/Moi-Cursor-3.png'), auto;
  color: #000;
  font-size: 12pt;
  font-family: 'Unifont', 'MS Gothic', '新細明體', 'Noto Sans Mono', monospace;
  background: none;
  border: none;
  text-decoration: none;
  padding: 0;
  border-radius: 10px;
}

.sub-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  display: none;
  background: rgba(217, 172, 154, 0.5);
  border: none;
  border-radius: 10px;
  z-index: 100;
}

.sub-menu a {
  font-size: 9pt;
  font-family: 'Unifont', 'MS Gothic', '新細明體', 'Noto Sans Mono', monospace;
  display: block;
  padding: 6px 10px;
  text-decoration: none;
  transition-duration: 0.6s;
  -o-transition-duration: 0.6s;
  -moz-transition-duration: 0.6s;
  -webkit-transition-duration: 0.6s;
}

.sub-menu a:hover {
  color: #FFF;
  cursor: url('../images/Moi-Cursor-3.png'), auto;
  background-color: #783535;
  text-decoration: none;
  transition-duration: 0.6s;
  -o-transition-duration: 0.6s;
  -moz-transition-duration: 0.6s;
  -webkit-transition-duration: 0.6s;
}

.menu-item.has-sub.open .sub-menu {
  display: block;
}

.link-only:hover {
  color: #FFF;
  background-color: #783535;
  text-decoration: none;
  transition-duration: 0.6s;
  -o-transition-duration: 0.6s;
  -moz-transition-duration: 0.6s;
  -webkit-transition-duration: 0.6s;
}
