/* player-btn-mobile.css */

/* 播放按鈕樣式 */
.glass-btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 80px;
  height: 80px;
  color: #000;
  border: 1px dashed #ccc;
  background: #333;
  text-align: left;
  font-size: 20pt;
  padding: 20px;
  border-radius: 50%;
  opacity: 0.1;
  transition-duration: 0.6s;
  -o-transition-duration: 0.6s;
  -moz-transition-duration: 0.6s;
  -webkit-transition-duration: 0.6s;
}

.glass-btn:hover {
  opacity: 1;
  transition-duration: 0.6s;
  -o-transition-duration: 0.6s;
  -moz-transition-duration: 0.6s;
  -webkit-transition-duration: 0.6s;
}

/* 浮動播放器位置 */
.floating-player {
  position: fixed;
  right: 50px;
  top: 50px;
  z-index: 9999;
}